<h2>{{application.name | uppercase}} Details</h2>
<div><span>id: </span>{{application.id}}</div>
<div>
  <label for="name">Application name: </label>
  <input id="name" [(ngModel)]="application.name" placeholder="name"><BR>
  <label for="name">Current version: </label>
  <input id="name" [(ngModel)]="application.currentVersion" placeholder="currentVersion"><BR>
  <label for="name">Target version: </label>
  <input id="name" [(ngModel)]="application.targetVersion" placeholder="targetVersion">
</div>

